.bg-alert-yellow {
    background-color: var(--alert-yellow);
}

.hero-container {
    position: relative;
    /* min-height: 400px; */
    overflow: visible;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .hero-container {
        margin-left: 1rem;
        overflow: hidden;
    }
}

@media (min-width: 576px) {
    .hero-container {
        height: 443px;
        margin-left: 0;
    }
}

/* Badge alert - top left area */
.alert-badge-top {
    position: absolute;
    z-index: 10;
    border-radius: 9999px;
    padding: 0.25em 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.8125rem;
    width: auto;
    top: 70%;
    left: 50%;
    transform: translate(calc(-50% - 4.5rem), calc(-50% - 9.5rem));
}

@media (min-width: 992px) {
    .alert-badge-top {
        top: 70%;
        left: 0%;
        transform: translate(0, calc(-50% - 11.5rem));
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .alert-badge-top {
        transform: translate(calc(-50% - 13vw), calc(-50% - 14vw));
        font-size: 1.2vw;
        min-width: 9vw;
    }
}

.alert-badge-top img {
    height: 4.25em;
}

.alert-badge-top p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/* Main center image */
.center-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 2rem), calc(-50% - 5rem));
    height: 8.5rem;
    aspect-ratio: auto;
    overflow: hidden;
    border-radius: 0.75rem;
}

@media (min-width: 992px) {
    .center-image-wrapper {
        aspect-ratio: 1;
        overflow: hidden;
        /* transform: translate(calc(-50% - 7rem), calc(-50% - 4.5rem)); */
        height: 15rem;
    }
}

@media (min-width: 1400px) {
    .center-image-wrapper {
        transform: translate(calc(-50% - 10vw), calc(-50% - 6vw));
        height: 15vw;
        border-radius: 1.5vw;
    }
}

.center-image-wrapper img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

/* Stats images positioning */
.stats-image-top {
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% + 5.2rem), calc(-50% - 7.2rem));
    max-width: 4.5rem;
    padding: 0.625rem 0.625rem 0.375rem;
    min-width: 22px;
}

@media (min-width: 992px) {
    .stats-image-top {
        transform: translate(calc(-50% + 11.7rem), calc(-50% - 9.2rem));
        padding: 0.875rem;
        max-width: 7rem;
    }
}

@media (min-width: 1400px) {
    .stats-image-top {
        transform: translate(calc(-50% + 9vw), calc(-50% - 10vw));
        padding: 0.5vw;
        max-width: 7vw;
    }
}

/* Alert badge - documents */
.alert-badge-documents {
    position: absolute;
    z-index: 30;
    border-radius: 9999px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.6rem;
    max-width: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 5rem), calc(-50% - 2.7rem));
}

@media (min-width: 992px) {
    .alert-badge-documents {
        right: 8%;
        left: unset;
        transform: translate(0, calc(-50% - 4rem));
        font-size: 12px;
        max-width: 13.5rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1400px) {
    .alert-badge-documents {
        transform: translate(calc(-50% + 11vw), calc(-50% - 4vw));
        font-size: 1vw;
        max-width: 16vw;
        padding: 0.4vw;
    }
}

.alert-badge-documents img {
    height: 3em;
}

.alert-badge-documents p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/*Conversation 1*/

.conversation-1 {
    position: absolute;
    z-index: 30;
    border-radius: 9999px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.6rem;
    max-width: 8rem;
    top: 59%;
    left: 50%;
    transform: translate(calc(-50% + 5rem), calc(-50% - 2.7rem));
}

@media (min-width: 992px) {
    .conversation-1 {
        right: 8%;
        left: 22%;        
        font-size: 12px;
        max-width: 13.5rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1400px) {
    .conversation-1 {        
        font-size: 1vw;
        max-width: 16vw;
        padding: 0.4vw;
    }
}

.conversation-1 img {
    height: 9em;
}

.conversation-1 p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/*Empleos*/
.empleos {
    position: absolute;
    z-index: 30;    
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.6rem;
    max-width: 8rem;
    bottom: 13%;
    left: 50%;
    /* transform: translate(calc(-50% + 5rem), calc(-50% - 2.7rem)); */
}

@media (min-width: 992px) {
    .empleos {
        right: 8%;
        left: 32%;        
        font-size: 12px;
        max-width: 13.5rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1400px) {
    .empleos {        
        font-size: 1vw;
        max-width: 16vw;
        padding: 0.4vw;
    }
}

.empleos img {
    height: 6em;
}

.empleos p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/* Young man main image */
.young-man-main {
    position: absolute;
    height: 11rem;
    bottom: 0%;
    right: 0%;
    /* transform: translate(calc(50% + 2rem), calc(-50% + 5rem)); */
    border-radius: 1rem;
}

/* @media (min-width: 992px) {
    .young-man-main {
        transform: translate(calc(-50% + 18.5rem), calc(-50% + 3.7rem));
    }
} */

@media (min-width: 1400px) {
    .young-man-main {
        /* transform: translate(calc(-50% + 17vw), calc(-50% + 3.5vw)); */
        height: 10vw;
    }
}

/* Alert badge - WhatsApp */
.alert-badge-whatsapp {
    position: absolute;
    z-index: 10;
    min-width: 11rem;
    font-size: 0.6rem;
    bottom: 18%;
    right: 44%;    
    border-radius: 9999px;
    padding: 0.625rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .alert-badge-whatsapp {
        transform: translate(calc(-50% + 15rem), calc(-50% + 7.5rem));
        padding: 0.75rem;
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .alert-badge-whatsapp {
        transform: translate(calc(-50% + 12vw), calc(-50% + 8vw));
        padding: 0.5vw;
        font-size: 1vw;
        min-width: 7vw;
    }
}

.alert-badge-whatsapp img {
    height: 2.4em;
}

.alert-badge-whatsapp p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}



    
.office-woman-image {
    position: absolute;
    left:16%;
    height: 8.5rem;
    aspect-ratio: auto;
    overflow: hidden;
    border-radius: 0.75rem;
}

@media (min-width: 992px) {
    .office-woman-image {
        aspect-ratio: auto;
        overflow: hidden;
        /* transform: translate(calc(-50% - 7rem), calc(-50% - 4.5rem)); */
        height: 11.25rem;
    }
}

@media (min-width: 1400px) {
    .office-woman-image {
        transform: translate(calc(-50% - 10vw), calc(-50% - 6vw));
        height: 15vw;
        border-radius: 1.5vw;
    }
}

.office-woman-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.cv-svg {
    position: absolute;
    z-index: 20;
    top: 35%;
    right: 16%;    
    width: 10.5em;
}