.bg-alert-yellow {
    background-color: var(--alert-yellow);
}

.bg-light-msg {
    background-color: var(--light-bg);
}

.bg-success-msg {
    background-color: var(--success-green);
}

.hero-container {
    position: relative;
    /* min-height: 400px; */
    overflow: visible;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .hero-container {
        margin-left: 1rem;
        overflow: hidden;
    }
}

@media (min-width: 576px) {
    .hero-container {
        height: 500px;
        margin-left: 0;
    }
}

/* Badge alert - top left area */
.alert-badge-top {
    position: absolute;
    z-index: 10;
    border-radius: 9999px;
    padding: 0.25em 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.8125rem;
    width: auto;
    top: 70%;
    left: 50%;
    transform: translate(calc(-50% - 4.5rem), calc(-50% - 9.5rem));
}

@media (min-width: 992px) {
    .alert-badge-top {
        top: 70%;
        left: 15%;
        transform: translate(0, calc(-50% - 11.5rem));
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .alert-badge-top {
        transform: translate(calc(-50% - 13vw), calc(-50% - 14vw));
        font-size: 1.2vw;
        min-width: 9vw;
    }
}

.alert-badge-top img {
    height: 4.25em;
}

.alert-badge-top p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/* Main center image */
.center-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 2rem), calc(-50% - 5rem));
    height: 8.5rem;
    aspect-ratio: auto;
    overflow: hidden;
    border-radius: 0.75rem;
}

@media (min-width: 992px) {
    .center-image-wrapper {
        aspect-ratio: 1;
        overflow: hidden;
        /* transform: translate(calc(-50% - 7rem), calc(-50% - 4.5rem)); */
        height: 15rem;
    }
}

@media (min-width: 1400px) {
    .center-image-wrapper {
        transform: translate(calc(-50% - 10vw), calc(-50% - 6vw));
        height: 15vw;
        border-radius: 1.5vw;
    }
}

.center-image-wrapper img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

/* Young man image - background */
.young-man-bg {
    position: absolute;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 8rem), calc(-50% - 6rem));
    z-index: 0;
}

@media (min-width: 992px) {
    .young-man-bg {
        height: 5rem;
        transform: translate(calc(-50% - 14rem), calc(-50% - 7.5rem));
    }
}

@media (min-width: 1400px) {
    .young-man-bg {
        height: 6vw;
        transform: translate(calc(-50% - 17vw), calc(-50% - 8vw));
    }
}

/* Stats images positioning */
.stats-image-top {
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% + 5.2rem), calc(-50% - 7.2rem));
    max-width: 4.5rem;
    padding: 0.625rem 0.625rem 0.375rem;
    min-width: 22px;
}

@media (min-width: 992px) {
    .stats-image-top {
        transform: translate(calc(-50% + 11.7rem), calc(-50% - 9.2rem));
        padding: 0.875rem;
        max-width: 7rem;
    }
}

@media (min-width: 1400px) {
    .stats-image-top {
        transform: translate(calc(-50% + 9vw), calc(-50% - 10vw));
        padding: 0.5vw;
        max-width: 7vw;
    }
}

.stats-image-bottom {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% + 6rem), calc(-50% - 6rem));
    max-width: 4.5rem;
    padding: 0.625rem 0.625rem 0.375rem;
    min-width: 40px;
}

@media (min-width: 992px) {
    .stats-image-bottom {
        transform: translate(calc(-50% + 21rem), calc(-50% - 7rem));
        padding: 0.875rem;
        max-width: 15rem;
    }
}

@media (min-width: 1400px) {
    .stats-image-bottom {
        transform: translate(calc(-50% + 19vw), calc(-50% - 8vw));
        padding: 0.5vw;
        max-width: 15vw;
    }
}

/* Alert badge - documents */
.alert-badge-documents {
    position: absolute;
    z-index: 30;
    border-radius: 9999px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    font-size: 0.6rem;
    max-width: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 5rem), calc(-50% - 2.7rem));
}

@media (min-width: 992px) {
    .alert-badge-documents {
        right: 8%;
        left: unset;
        transform: translate(0, calc(-50% - 4rem));
        font-size: 12px;
        max-width: 13.5rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1400px) {
    .alert-badge-documents {
        transform: translate(calc(-50% + 11vw), calc(-50% - 4vw));
        font-size: 1vw;
        max-width: 16vw;
        padding: 0.4vw;
    }
}

.alert-badge-documents img {
    height: 3em;
}

.alert-badge-documents p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/* Office man image */
.office-man {
    position: absolute;
    z-index: 10;
    height: 5rem;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% + 6rem), calc(-50% + 8rem));
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

@media (min-width: 992px) {
    .office-man {
        height: 5rem;
        transform: translate(calc(-50% + 20rem), calc(-50% + 0.5rem));
    }
}

@media (min-width: 1400px) {
    .office-man {
        height: 6vw;
        transform: translate(calc(-50% + 20vw), calc(-50% + 0.7vw));
    }
}

/* Office man image 2 */
.office-man-2 {
    position: absolute;
    z-index: 10;
    height: 3rem;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% - 7rem), calc(-50% - 1rem));
}

@media (min-width: 992px) {
    .office-man-2 {
        height: 4.5rem;
        transform: translate(calc(-50% + 0.8rem), calc(-50% + 3.5rem));
    }
}

@media (min-width: 1400px) {
    .office-man-2 {
        height: 5.5vw;
        transform: translate(calc(-50% + 1vw), calc(-50% + 3vw));
    }
}

/* Chat messages container */
.chat-container {
    position: absolute;
    height: 3rem;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 5rem), calc(-50% + 5rem));
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.7em;
}

@media (min-width: 992px) {
    .chat-container {
        transform: translate(calc(-50% + 3rem), calc(-50% + 3.5rem));
        width: 10.25rem;
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .chat-container {
        transform: translate(calc(-50% + 0vw), calc(-50% + 2vw));
        width: 10vw;
        font-size: 1.1vw;
    }
}

.chat-message-1 {
    display: flex;
    width: 100%;
    gap: 2px;
}

.chat-avatar {
    height: 100%;
    display: flex;
    align-items: center;
}

.avatar-circle {
    border-radius: 9999px;
    background-color: var(--technical-blue);
    display: grid;
    place-items: center;
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    aspect-ratio: 1;
}

@media (min-width: 992px) {
    .avatar-circle {
        height: 1rem;
        width: 1rem;
    }
}

.avatar-circle img {
    width: 62%;
    aspect-ratio: 1;
}

.chat-bubble {
    background-color: var(--light-bg);
    border-radius: 9999px;
    border-top-left-radius: 0;
    padding: 0.5em 0.5em;
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 0.4em;
    flex-shrink: 0;
    padding-left: 0.375em;
}

@media (min-width: 1400px) {
    .chat-bubble {
        padding: 0.2vw;
        border-radius: 0.8vw;
        border-top-left-radius: 0;
        font-size: 0.45em;
    }
}

.chat-bubble p {
    margin: 0;
    font-size: 1em;
}

.chat-message-2 {
    background-color: var(--light-bg);
    border-radius: 9999px;
    border-top-left-radius: 0;
    padding: 0.5em 1.2em;
    text-align: start;
    font-size: 0.45em;
    display: flex;
    align-items: center;
}

@media (min-width: 1400px) {
    .chat-message-2 {
        padding: 1vw;
        border-radius: 0.8vw;
        border-top-left-radius: 0;
        font-size: 0.45em;
    }
}

.chat-message-2 p {
    margin: 0;
}

/* User response message */
.user-response-container {
    position: absolute;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    top: 50%;
    right: 50%;
    transform: translate(calc(50% + 5rem), calc(-50% - 1rem));
    width: 10rem;
    font-size: 0.7em;
    gap: 0;
}

@media (min-width: 992px) {
    .user-response-container {
        top: 50%;
        right: 0;
        left: unset;
        transform: translate(0, calc(-50% - 0.5rem));
        font-size: 16px;
        gap: 0.25rem;
        width: auto;
    }
}

@media (min-width: 1400px) {
    .user-response-container {
        transform: translate(calc(-50% + 12vw), calc(-50% - 1vw));
        font-size: 1.2vw;
        gap: 0.25vw;
    }
}

.user-message {
    background-color: var(--success-green);
    border-radius: 9999px;
    border-top-right-radius: 0;
    padding: 0.15rem 0.5rem;
    font-size: 0.4em;
    display: flex;
    align-items: center;
    max-width: 8.5rem;
}

@media (min-width: 992px) {
    .user-message {
        max-width: 8rem;
        padding: 0.4rem;
    }
}

@media (min-width: 1400px) {
    .user-message {
        max-width: 11vw;
        padding: 0.25vw 0.4vw;
    }
}

.user-message p {
    margin: 0;
    font-size: 1em;
}

.user-avatar-circle {
    border-radius: 9999px;
    background-color: var(--profile-blue);
    display: grid;
    place-items: center;
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    aspect-ratio: 1;
    flex-shrink: 0;
}

@media (min-width: 992px) {
    .user-avatar-circle {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.user-avatar-circle img {
    height: fit-content;
}

/* Young man main image */
.young-man-main {
    position: absolute;
    height: 8.5rem;
    top: 75%;
    right: 30%;
    transform: translate(calc(50% + 2rem), calc(-50% + 5rem));
    border-radius: 1rem;
}

@media (min-width: 992px) {
    .young-man-main {
        transform: translate(calc(-50% + 18.5rem), calc(-50% + 3.7rem));
    }
}

@media (min-width: 1400px) {
    .young-man-main {
        transform: translate(calc(-50% + 17vw), calc(-50% + 3.5vw));
        height: 10vw;
    }
}

/* Alert badge - WhatsApp */
.alert-badge-whatsapp {
    position: absolute;
    z-index: 10;
    min-width: 11rem;
    font-size: 0.6rem;
    top: 50%;
    right: 44%;
    transform: translate(calc(50% - 5rem), calc(-50% + 2rem));
    border-radius: 9999px;
    padding: 0.625rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .alert-badge-whatsapp {
        transform: translate(calc(-50% + 15rem), calc(-50% + 7.5rem));
        padding: 0.75rem;
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .alert-badge-whatsapp {
        transform: translate(calc(-50% + 12vw), calc(-50% + 8vw));
        padding: 0.5vw;
        font-size: 1vw;
        min-width: 7vw;
    }
}

.alert-badge-whatsapp img {
    height: 2.4em;
}

.alert-badge-whatsapp p {
    font-size: 0.75em;
    line-height: 1;
    margin: 0;
}

/* Navigation */
.navbar-custom {
    height: 4rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
}

@media (min-width: 992px) {
    .navbar-custom {
        height: 5rem;
        margin-bottom: 0;
        padding: 1.5rem 0;
    }
}

.navbar-custom img {
    height: 100%;
}

/* Hero section */
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

@media (min-width: 992px) {
    .hero-left {
        gap: 1rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 1400px) {
    .hero-left {
        font-size: 1.5rem;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.5rem;
    padding-right: 2rem;
}

@media (min-width: 992px) {
    .hero-title {
        font-weight: 600;
        font-size: 3em;
        line-height: normal;
        padding: 0;
    }
}

.hero-description {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: start;
}

@media (min-width: 992px) {
    .hero-description {
        font-weight: 300;
        font-size: 1em;
        padding-right: 4rem;
    }
}

.cta-button {
    background-color: var(--technical-blue);
    color: white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 300;
    font-size: 0.875em;
    padding: 0.5rem 0.75rem;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--link-purple);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: white;
}

@media (min-width: 992px) {
    .cta-button {
        font-size: 1em;
        padding: 0.25rem 2.75rem;
    }
}

.cta-button img {
    height: 0.875em;
}

/* Footer */
.footer-custom {
    width: 100%;
    padding: 0 0 1.25rem 0;
    font-size: 0.75rem;
    font-weight: 300;
}

@media (min-width: 992px) {
    .footer-custom {
        padding: 1rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {
    .footer-custom {
        font-size: 1.5rem;
    }
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .footer-section {
        margin-bottom: 2rem;
    }
}

.footer-section h4 {
    font-weight: 600;
}

.footer-link {
    color: var(--technical-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link svg {
    margin-right: 0.5rem;
    stroke-width: 2;
}

.footer-copyright {
    margin-top: 0.5rem;
    font-size: 10px;
}