<section class="footer">
    <div class="footer-content container d-flex flex-column justify-content-between">
        <div class="footer-main row">
            <div class="footer-logo-container col-1">
                <img src="assets/icons/isotipo.svg" alt="Logo Ginia" class="footer-logo">
            </div>
            <div class="footer-links-container col-9">                
                <div>
                    <ul class="footer-list">
                        <li><a href="#">Instituciones educativas</a></li>
                        <li><a href="#">Empresas</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
    
                <!-- Contact Info -->                
                <div>
                    <ul class="footer-list">
                        <li><a href="tel:+525562274526">+52 556 227 4526</a></li>
                        <li><a href="mailto:hola@ginia.io">hola@ginia.io</a></li>
                    </ul>
                </div>
    
                <!-- Privacy -->                
                <div >
                    <ul class="footer-list">
                        <li><a href="#">Aviso de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <!-- Navigation Links -->
        </div>

        <!-- footer-bottom -->
        <div class="row d-flex justify-content-between ">
            <!-- Footer Bottom -->
            <div class="col-3 footer-bottom">
                <p>©Ginia, 2025. | Diseñado por <a href="#">Remedia</a></p>
            </div>

            <div class="col-2">
                <a href="#" class="footer-social-icon">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="footer-social-icon">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="footer-social-icon">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</section>