<section class="header">
    <div class="container">
        <div class="row ">
            
            <!-- Logo -->
            <div class="col-2">
                <img src="assets/icons/logo.svg" alt="Logo Ginia" class="header-logo">
            </div>

            <!-- Navigation Links -->
            <div class="col-6 d-flex justify-content-between">
                <a href="#" class="header-link">Instituciones educativas</a>
                <a href="#" class="header-link">Empresas</a>
                <a href="#" class="header-link">Nosotros</a>
            </div>

            <!-- Action Buttons -->
            <div class="col-4" >
                <button class="btn btn-outline-dark header-btn-outline">Inicia sesión</button>
                <button class="btn btn-dark header-btn-dark">Hablemos</button>
            </div>
        </div>
    </div>
</section>