<!-- Hero Component -->
<section id="inicio" class="hero-section" x-data="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="row">
                    <h1>Conectamos talento con futuro</h1>
                </div>
                <div>
                    <p>Somos el ecosistema que conecta empresas, instituciones educativas y estudiantes, usando la
                        inteligencia artificial para potenciar la empleabilidad.</p>
                    <p>Únete a Ginia para construir juntos el futuro del empleo.</p>
                </div>
                <button class="btn btn-dark">Hablemos hoy mismo</button>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p class="border-right">Reducimos el tiempo de contratación</p>
                        </div>
                        <div class="col-4">
                            <p class="border-right">Aumentamos la probabilidad de retención</p>
                        </div>
                        <div class="col-4">
                            <p>Trabajamos con instituciones educativas en todo el país</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 hero-container">
                <!-- Top Alert Badge -->
                <div class="bg-alert-yellow alert-badge-top">
                    <img src="/assets/images/hero-banner-03.webp" alt="Alarm">
                </div>

                <!-- Center Image -->
                <div class="center-image-wrapper">
                    <img class="w-100 h-100" alt="office woman"
                        src="assets/images/hero-banner-01.webp">
                </div>

                <!-- Documents Alert Badge -->
                <div class="bg-alert-yellow alert-badge-documents">
                    <img src="/assets/images/hero-banner-04.webp" alt="Files">
                    
                </div>                

                
                <img class="stats-image-top" alt="cvs icon" src="/assets/images/hero-banner-06.webp"
                    style="height: 3em; width: 1.5em; object-fit: cover;">                    
                

                <!-- Main Young Man Image -->
                <img class="young-man-main" alt="young man with a phone"
                    src="/assets/images/hero-banner-02.webp">

                
                <div class="bg-alert-yellow alert-badge-whatsapp">
                    <img src="/assets/images/hero-banner-08.webp" alt="WhatsApp">
                </div>
            </div>
        </div>
    </div>
</section>