<!-- Hero Component -->
<section id="inicio" class="hero-section" x-data="hero">
    <div class="container">
        <div class="row">
            <div class="col-6 text-end">
                <div class="row">
                    <h1>Conectamos talento con futuro</h1>
                </div>
                <div>
                    <p>Somos el ecosistema que conecta empresas, instituciones educativas y estudiantes, usando la
                        inteligencia artificial para potenciar la empleabilidad.</p>
                    <p>Únete a Ginia para construir juntos el futuro del empleo.</p>
                </div>
                <button class="btn btn-secondary">Hablemos hoy mismo</button>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p>Reducimos el tiempo de contratación</p>
                        </div>
                        <div class="col-4">
                            <p>Reducimos el tiempo de contratación</p>
                        </div>
                        <div class="col-4">
                            <p>Reducimos el tiempo de contratación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/images/hero-banner-01.webp" alt="Hero Image" class="img-fluid">
            </div>
        </div>
        </div>        
</section>